.hotTop{
	background:#fef8fc url('http://www.easyvoa.com/templets/images/head_link_bg.jpg') repeat-x;
	height:32px;
}
.topWrapper{
	width:1024px;
	margin: 0 auto;
	overflow: hidden;
	height:32px;
}
.t-left{
	float: left;
	overflow: hidden;
	line-height: 32px;
}
.t-list{
	float: left;
	margin-right: 3px;
	font-size: 12px;
	color:gray;
}
.t-right{
	float: right;
	overflow: hidden;
	line-height: 32px;
}
.btn{
	width:50px;
	height:22px;
	background: #fff;
	outline: none;
	border:1px solid gray;
}



















.header {
	overflow: hidden;
	height: 60px;
	border-bottom: 1px solid #ccc;
}
.header-logo {
	float: left;
	height: 60px;
	margin: 0 60px;
}
.header-list {
	width:696px;
	overflow: hidden;
	padding: 6px 0;
}
.header-item {
	white-space: nowrap;
    float: left;
    padding: 0 10px;
    margin-top: 8px;
    border-right: 1px solid #666;
}
.nav{
	overflow: hidden;
	font-size: 12px;
}
.nav-left{
	width:115px;
	float: left;
}
.nav-left .nav-title{
	border-bottom: 1px solid #FFE9D3;
    background: #fdf4e5;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
	color: #666;
	border-right:1px solid #FFE9D3;
}
.nav-left .nav-detail{
	background: #fff;
	height: 82px;
	border: 1px solid #FFE9D3;
	border-right:none;

}
.nav-left .nav-detail .nav-list{
	text-align: center;
    height: 26px;
    line-height: 26px;
}


.nav-center{
	width:427px;
	float: left;
}
.nav-center .nav-title{
	border-right:1px solid #FFE9D3;
	border-bottom: 1px solid #FFE9D3;
    background: #fdf4e5;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
	color: #666;
	width:426px;
	
}
.nav-center .nav-detail{
	background: #fff;
	height: 82px;
	border: 1px solid #FFE9D3;
	border-right:none;

}
.nav-center .nav-detail .nav-list{
	text-align: center;
    height: 26px;
    line-height: 26px;
	float: left;
	padding: 0 18px;
}





.nav-right{
	width:481px;
	float: left;
}
.nav-right .nav-title{
	border-bottom: 1px solid #FFE9D3;
    background: #fdf4e5;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
	color: #666;
	border-right:1px solid #FFE9D3;
	
}
.nav-right .nav-detail{
	background: #fff;
	height: 82px;
	border: 1px solid #FFE9D3;
	border-right:none;

}
.nav-right .nav-detail .nav-list{
	text-align: center;
    height: 26px;
    line-height: 26px;
	float: left;
	width:20%;
}
.hotSign{
	height:28px;
	border:1px solid gray;
	margin:5px 0px;
	overflow: hidden;


	
}
.hot-title{
	float: left;
	font-size:12px;
	font-weight:blod;
	color:gray;
	line-height: 28px;
	margin-left:10px;
}
.hot-list{
	width:150px;
	float:left;
	border:1px solid blue;
	height:14px;
	margin-right:60px;
	border-radius: 10px;
	text-align: center;
	color:blue; 
	margin-top:6px;
	margin-left:30px;
}
.tiao{
	color:gray;
	font-size:12px;
}